.cartEmpty{
  display: inline-block;
  align-content: center;
  margin-left: 129px;
  h2{
    margin: 0;}
 p{ 
   margin: 12px 0 30px -40px;
 }
 b{
  font-size: 10pt;
  color: white;
 }
  .greenButton{
    margin-left: -16px;
    width: 167px;
    height: 44px;
    background-color: green;
    border-radius: 14px;
  }
}


